/******** SWAG ************/
/******** FONTS ************/
/******** VARIABLES ************/
/******** NAVIGATION ************/
#the_very_top { margin-top: 15px; }

.primary-menu { position: relative; top: -28px; }

.left-nav .primary-left { position: fixed; left: 0px; width: inherit; top: 60px; padding: 18px; -webkit-border-radius: 0px 4px 4px 0px; -moz-border-radius: 0px 4px 4px 0px; -ms-border-radius: 0px 4px 4px 0px; -o-border-radius: 0px 4px 4px 0px; border-radius: 0px 4px 4px 0px; }
.left-nav .primary-left ul { -webkit-box-shadow: 1px 1px 4px 0px #b9b9b9; -moz-box-shadow: 1px 1px 4px 0px #b9b9b9; box-shadow: 1px 1px 4px 0px #b9b9b9; background-color: white; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%); background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%); background-image: -o-linear-gradient(top, #ffffff 0%, #ffffff 100%); background-image: linear-gradient(top, #ffffff 0%, #ffffff 100%); margin-left: 0px; list-style: none; padding: 20px 0px; }
.left-nav .primary-left ul li a { color: #358ccb; padding: 0px 10px; text-shadow: 0px 0px; font-size: 19.2px; display: block; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; font-weight: 300; }
.left-nav .primary-left ul li a:hover { color: #b9b9b9; }
.left-nav .primary-left ul li:first-child a { padding: 6px 10px; border-bottom: 1px solid #ececec; margin-bottom: 20px; margin-top: -15px; font-weight: 400; color: #b9b9b9; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; font-size: 16px; }
.left-nav .primary-left ul li:first-child a:hover { color: #358ccb; }
.left-nav .primary-left ul li:first-child.current-menu-item a, .left-nav .primary-left ul li:first-child.current-post-ancestor a, .left-nav .primary-left ul li:first-child.current-menu-parent a, .left-nav .primary-left ul li:first-child.current-post-parent a { color: #e29532; }
.left-nav .primary-left ul li.current-menu-item a, .left-nav .primary-left ul li.current-post-ancestor a, .left-nav .primary-left ul li.current-menu-parent a, .left-nav .primary-left ul li.current-post-parent a { color: #e29532; }
.left-nav .primary-left ul ul.sub-menu { margin: 12px 0px; padding: 0px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.left-nav .primary-left ul ul.sub-menu li { width: 100%; }
.left-nav .primary-left ul ul.sub-menu li a { background-color: white; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%); background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%); background-image: -o-linear-gradient(top, #ffffff 0%, #ffffff 100%); background-image: linear-gradient(top, #ffffff 0%, #ffffff 100%); font-size: 16px; display: block; padding: 10px; color: #494949; text-shadow: rgba(250, 250, 250, 0.4) 0px 1px 0px; text-transform: none; font-weight: 400; }
.left-nav .primary-left ul ul.sub-menu li a:hover { color: inherit; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; -webkit-box-shadow: 3px 5px 14px 0px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: 3px 5px 14px 0px rgba(0, 0, 0, 0.1) inset; box-shadow: 3px 5px 14px 0px rgba(0, 0, 0, 0.1) inset; }
.left-nav .primary-left ul ul.sub-menu li a:active { -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.2) inset; -moz-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.2) inset; box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.2) inset; }
.left-nav .primary-left ul ul.sub-menu li:first-child a { padding: 10px; border-bottom: 0px; margin: inherit; }
.left-nav .primary-left ul ul.sub-menu li.current-menu-item a, .left-nav .primary-left ul ul.sub-menu li.current-post-ancestor a, .left-nav .primary-left ul ul.sub-menu li.current-menu-parent a, .left-nav .primary-left ul ul.sub-menu li.current-post-parent a { color: inherit; border-left: 8px solid #358ccb; }
.left-nav .primary-left ul ul.sub-menu li.current-menu-item ul li a, .left-nav .primary-left ul ul.sub-menu li.current-post-ancestor ul li a, .left-nav .primary-left ul ul.sub-menu li.current-menu-parent ul li a, .left-nav .primary-left ul ul.sub-menu li.current-post-parent ul li a { background: #494949; }
.left-nav .primary-left ul ul.sub-menu li .sub-menu { padding: 0px; margin-bottom: 5px; }
.left-nav .primary-left ul ul.sub-menu li .sub-menu li { width: inherit; border-bottom: 1px solid #b9b9b9; }
.left-nav .primary-left ul ul.sub-menu li .sub-menu li a { background-color: white; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFECECEC'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ececec)); background-image: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%); background-image: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%); background-image: -o-linear-gradient(top, #ffffff 0%, #ececec 100%); background-image: linear-gradient(top, #ffffff 0%, #ececec 100%); color: #a0a0a0; text-shadow: rgba(250, 250, 250, 0.1) 0px 1px 0px; padding-left: 20px; }
.left-nav .primary-left ul ul.sub-menu li .sub-menu li:last-child { border-bottom: 0px; }

.site_logo { width: auto; height: 105px; margin: 0 auto; }

.form-search { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; }

.nav-pills > li > a { padding: 6px; }

.global-links { margin-left: 0px; list-style: none; }
.global-links li { float: left; padding: 7px 6px; font-size: 14.4px; font-weight: 300; letter-spacing: 2px; }
.global-links li:first-child { padding-left: 0px; }
.global-links li a { color: #9C9C9C; }
.global-links li a:hover { color: #358ccb; }

/******** GLOBAL ************/
/********* GENERAL ***********/
h1, h2, h3, h4, h5, h6, h7, h8 { font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: normal; color: #358ccb; font-weight: normal; text-shadow: #fafafa 0px 1px 0px; }

h2 { color: #2a70a3; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 700; text-transform: uppercase; font-weight: 300; font-size: 25.6px; line-height: 26px; margin: 20px 0px; }

h3 { color: #e29532; }

h4 { color: #153852; }

a h1, a h2, a h3, a h4, a h5, a h6 { -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
a h1:hover, a h2:hover, a h3:hover, a h4:hover, a h5:hover, a h6:hover { color: #358ccb; }

body { font-size: 16px; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: normal; background-color: #f2f2f2; }

div.clear { clear: both; }

a { color: #358ccb; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; text-decoration: none!important; }
a:hover { color: #afd1ea; }
a:hover { text-decoration: none; }

.alignleft { float: left; margin-right: 15px; }

.alignright { float: right; margin-left: 15px; }

.aligncenter { margin: 0 auto; }

.copyright { text-align: right; color: #b9b9b9; font-size: 14.4px; margin-top: 15px; }

.row-fluid { text-shadow: rgba(250, 250, 250, 0.49609) 0px 1px 0px; }

.footer { padding: 20px; margin: 37.5px 0px; }
.footer h2 { color: #358ccb; text-transform: lowercase; }
.footer .link-list { margin-left: 0px; list-style: none; }
.footer .link-list li { width: 18%; margin-right: 2%; float: left; text-align: center; }
.footer .link-list li a { color: #358ccb; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 700; text-transform: uppercase; font-size: 16px; border-bottom: 4px solid #b9b9b9; text-align: center; }
.footer .link-list li a:hover { color: #ececec; }
.footer .link-list li ul.sub-menu { margin-left: 0px; list-style: none; margin-top: 15px; }
.footer .link-list li ul.sub-menu li { width: 100%; text-align: left; }
.footer .link-list li ul.sub-menu li a { color: #358ccb; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; color: #ececec; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 700; text-transform: uppercase; border-bottom: 0px; }
.footer .link-list li ul.sub-menu li a:hover { color: #afd1ea; }
.footer .link-list ul { margin-left: 0px; list-style: none; }
.footer .link-list ul li { width: auto; }

table { width: 100%; }
table tr { padding: 5px 0px; }
table tr:nth-child(even) { background: white; color: #cdcdcd; }
table tr td { padding: 5px; }

hr { border-color: #b9b9b9; border-bottom: 0px; }

/******** ALERTS AND WARNINGS ********/
.notice { display: none; font-size: 14.4px; }

.alert { background: #B64040; padding: 6px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 1px 2px 2px 1px #5a2a2a; -moz-box-shadow: 1px 2px 2px 1px #5a2a2a; box-shadow: 1px 2px 2px 1px #5a2a2a; }
.alert strong { color: #000; }
.alert a { color: white; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.alert a:hover { color: #afd1ea; }
.alert .close { color: white; text-shadow: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; top: -4px; position: relative; }
.alert.alert-error { background: #B64040; }

.warning .alert { background: #F1E234!important; }
.warning .alert a { color: #358ccb; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.warning .alert a:hover { color: #afd1ea; }

#SearchInput { background: #ececec; color: white; -webkit-border-radius: 12px; -moz-border-radius: 12px; -ms-border-radius: 12px; -o-border-radius: 12px; border-radius: 12px; width: 110px; background: #ececec url("images/search.png") right center no-repeat; padding-right: 4px; }
#SearchInput input::-webkit-input-placeholder { color: white; }
#SearchInput input:-moz-placeholder { color: white; }
#SearchInput:hover { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.meta { height: auto; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: normal; font-size: 14.4px; padding-bottom: 10px; border-bottom: 1px solid white; margin-bottom: 10px !important; color: #ececec; }
.meta .date { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; float: right; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 400; }

.no-left-margin { margin-left: 0px; top: 15px; position: relative; }

/******** HOME ************/
.mast { color: #7eb6de; text-transform: uppercase; letter-spacing: 18px; font-weight: 300; margin: 80px 0px; margin-bottom: 0px; }

.tagline { color: #b9b9b9; text-transform: none; font-weight: 300; margin-bottom: 60px; }

/******** ARCHIVE ************/
.archive { padding: 20px; /*.span6:first-child {
	@include box-sizing(border-box);
	border-right:1px solid $lightest_gray;
} */ }
.archive h1 span { color: #afd1ea; font-size: 19.2px; margin-bottom: -10px; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; }
.archive h1 span a { color: #afd1ea; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.archive h1 span a:hover { color: #358ccb; }
.archive .span6 { border-right: 1px solid white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-right: 10px; }
.archive .span6:last-child { border-right: 0px; }
.archive .span4 { padding-right: 10px; }
.archive .archive_hero { margin-bottom: 15px; }
.archive .archive_hero .span3 { margin-left: 1.264103%; }
.archive .archive_hero .span3:first-child { margin-left: 0px; }
.archive .archive_hero img { width: 100%; height: auto; }
.archive .archive_hero h2 { color: #358ccb; text-transform: uppercase; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 700; text-transform: uppercase; line-height: 26px; margin: 4px 0px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.archive .archive_hero h2:hover { color: #ececec; }
.archive .archive_hero .excerpt { margin-top: 25px; font-size: 12.8px; }
.archive .archive_hero .aux-items { margin-top: 30px; font-size: 12.8px; }
.archive .archive_hero .aux-items h3 { color: #358ccb; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.archive .archive_hero .aux-items h3:hover { color: #ececec; }
.archive .pagetitle { text-transform: uppercase; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 700; text-transform: uppercase; margin-bottom: 25px; }
.archive .post-excerpt { padding: 10px 0px; border-bottom: 1px solid white; min-height: 90px; }
.archive .post-excerpt:last-child { border-bottom: 0px; }
.archive .post-excerpt .post-description { font-size: 12.8px; }
.archive .post-excerpt h3 { color: #358ccb; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; font-weight: 600; line-height: 20px; min-height: 55px; vertical-align: middle; }
.archive .post-excerpt h3:hover { color: #afd1ea; }
.archive .post-excerpt h3:hover { color: #ececec; }
.archive .post-excerpt img { float: left; margin-right: 15px; margin-bottom: 15px; width: 55px; height: 55px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 2px solid white; }

.page-navigation { text-align: center; margin: 15px 0px; margin-top: 45px; }
.page-navigation .wp-pagenavi { font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: normal; padding: 20px; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; }
.page-navigation .wp-pagenavi a, .page-navigation .wp-pagenavi span { padding: 0px 5px; }

.published-today h2 { margin-top: -10px; }
.published-today .print-teaser { margin: 0 auto; border: 4px solid white; margin-bottom: 15px; }

.archive-col-rows { margin-top: 45px; }

.date_archive_feat { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 3px solid white; }

.archive-feat-overlay { font-size: 14.4px; padding: 20px 0px; margin-bottom: 15px; border-bottom: 1px solid white; padding-top: 10px; }
.archive-feat-overlay h2 { color: #358ccb; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.archive-feat-overlay h2:hover { color: #ececec; }

.date-archive .center-col { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-right: 1px solid white; padding: 0px 20px; border-left: 1px solid white; }
.date-archive .center-col h2 { text-transform: uppercase; font-size: 24px; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 700; text-transform: uppercase; }
.date-archive .span3 a, .date-archive .span2 a { display: block; margin: 15px 0px; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 400; font-size: 14.4px; }

/******** SINGLE ************/
#article-page { padding: 15px 0px; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 400; }

.category, .tag_list { font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: normal; text-transform: uppercase; font-size: 12.8px; font-weight: 700; }
.category span, .tag_list span { background: #559ed3; padding: 2px 6px; color: white; margin: 0px 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.category span a, .tag_list span a { color: white; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.category span a:hover, .tag_list span a:hover { color: #153852; }

.category a { color: #afd1ea; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.category a:hover { color: #358ccb; }

.social-runner { display: none; }
.social-runner .social-network-item { float: left; padding: 0px 20px; width: 80px; }
.social-runner .social-network-item:first-child { padding-left: 0px; }

.meta { margin-bottom: 25px; }

.post-content { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-left: 1px solid white; }

.post { padding: 20px; padding-top: 0px; }
.post h1 { margin: 46px 0px; font-weight: 300; color: #dd4335; }
.post #meta { margin-left: 0px; list-style: none; font-size: 12.8px; color: #ececec; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: normal; margin-bottom: 15px; }
.post #meta li { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; }
.post #meta li:after { content: '\7C'; padding: 0px 2px; }
.post #meta li:last-child:after { content: ''; }
.post .entry { font-size: 16px; }
.post .entry p { font-size: 16px; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 400; line-height: 23px; -webkit-margin-before: 0px; -webkit-margin-after: 0px; margin: 22px 0px; }
.post .entry p:first-child:first-letter { text-transform: uppercase; padding-right: 2px; font-size: 38.4px; float: left; margin-top: 9px; margin-right: 5px; color: #b9b9b9; }
.post .entry p.final-byline { font-style: italic; }
.post .entry .code-block, .post .entry .code-ignore { font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 400; }
.post .entry .code-block div, .post .entry .code-block span, .post .entry .code-block applet, .post .entry .code-block object, .post .entry .code-block iframe, .post .entry .code-block h1, .post .entry .code-block h2, .post .entry .code-block h3, .post .entry .code-block h4, .post .entry .code-block h5, .post .entry .code-block h6, .post .entry .code-block p, .post .entry .code-block blockquote, .post .entry .code-block pre, .post .entry .code-block a, .post .entry .code-block abbr, .post .entry .code-block acronym, .post .entry .code-block address, .post .entry .code-block big, .post .entry .code-block cite, .post .entry .code-block code, .post .entry .code-block del, .post .entry .code-block dfn, .post .entry .code-block em, .post .entry .code-block img, .post .entry .code-block ins, .post .entry .code-block kbd, .post .entry .code-block q, .post .entry .code-block s, .post .entry .code-block samp, .post .entry .code-block small, .post .entry .code-block strike, .post .entry .code-block strong, .post .entry .code-block sub, .post .entry .code-block sup, .post .entry .code-block tt, .post .entry .code-block var, .post .entry .code-block b, .post .entry .code-block u, .post .entry .code-block i, .post .entry .code-block center, .post .entry .code-block dl, .post .entry .code-block dt, .post .entry .code-block dd, .post .entry .code-block ol, .post .entry .code-block ul, .post .entry .code-block li, .post .entry .code-block fieldset, .post .entry .code-block form, .post .entry .code-block label, .post .entry .code-block legend, .post .entry .code-block table, .post .entry .code-block caption, .post .entry .code-block tbody, .post .entry .code-block tfoot, .post .entry .code-block thead, .post .entry .code-block tr, .post .entry .code-block th, .post .entry .code-block td, .post .entry .code-block article, .post .entry .code-block aside, .post .entry .code-block canvas, .post .entry .code-block details, .post .entry .code-block embed, .post .entry .code-block figure, .post .entry .code-block figcaption, .post .entry .code-block footer, .post .entry .code-block header, .post .entry .code-block hgroup, .post .entry .code-block menu, .post .entry .code-block nav, .post .entry .code-block output, .post .entry .code-block ruby, .post .entry .code-block section, .post .entry .code-block summary, .post .entry .code-block time, .post .entry .code-block mark, .post .entry .code-block audio, .post .entry .code-block video, .post .entry .code-ignore div, .post .entry .code-ignore span, .post .entry .code-ignore applet, .post .entry .code-ignore object, .post .entry .code-ignore iframe, .post .entry .code-ignore h1, .post .entry .code-ignore h2, .post .entry .code-ignore h3, .post .entry .code-ignore h4, .post .entry .code-ignore h5, .post .entry .code-ignore h6, .post .entry .code-ignore p, .post .entry .code-ignore blockquote, .post .entry .code-ignore pre, .post .entry .code-ignore a, .post .entry .code-ignore abbr, .post .entry .code-ignore acronym, .post .entry .code-ignore address, .post .entry .code-ignore big, .post .entry .code-ignore cite, .post .entry .code-ignore code, .post .entry .code-ignore del, .post .entry .code-ignore dfn, .post .entry .code-ignore em, .post .entry .code-ignore img, .post .entry .code-ignore ins, .post .entry .code-ignore kbd, .post .entry .code-ignore q, .post .entry .code-ignore s, .post .entry .code-ignore samp, .post .entry .code-ignore small, .post .entry .code-ignore strike, .post .entry .code-ignore strong, .post .entry .code-ignore sub, .post .entry .code-ignore sup, .post .entry .code-ignore tt, .post .entry .code-ignore var, .post .entry .code-ignore b, .post .entry .code-ignore u, .post .entry .code-ignore i, .post .entry .code-ignore center, .post .entry .code-ignore dl, .post .entry .code-ignore dt, .post .entry .code-ignore dd, .post .entry .code-ignore ol, .post .entry .code-ignore ul, .post .entry .code-ignore li, .post .entry .code-ignore fieldset, .post .entry .code-ignore form, .post .entry .code-ignore label, .post .entry .code-ignore legend, .post .entry .code-ignore table, .post .entry .code-ignore caption, .post .entry .code-ignore tbody, .post .entry .code-ignore tfoot, .post .entry .code-ignore thead, .post .entry .code-ignore tr, .post .entry .code-ignore th, .post .entry .code-ignore td, .post .entry .code-ignore article, .post .entry .code-ignore aside, .post .entry .code-ignore canvas, .post .entry .code-ignore details, .post .entry .code-ignore embed, .post .entry .code-ignore figure, .post .entry .code-ignore figcaption, .post .entry .code-ignore footer, .post .entry .code-ignore header, .post .entry .code-ignore hgroup, .post .entry .code-ignore menu, .post .entry .code-ignore nav, .post .entry .code-ignore output, .post .entry .code-ignore ruby, .post .entry .code-ignore section, .post .entry .code-ignore summary, .post .entry .code-ignore time, .post .entry .code-ignore mark, .post .entry .code-ignore audio, .post .entry .code-ignore video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }
.post .entry .code-block table, .post .entry .code-ignore table { border-collapse: collapse; border-spacing: 0; }
.post .entry .code-block caption, .post .entry .code-block th, .post .entry .code-block td, .post .entry .code-ignore caption, .post .entry .code-ignore th, .post .entry .code-ignore td { text-align: left; font-weight: normal; vertical-align: middle; }
.post .entry .code-block q, .post .entry .code-block blockquote, .post .entry .code-ignore q, .post .entry .code-ignore blockquote { quotes: none; }
.post .entry .code-block q:before, .post .entry .code-block q:after, .post .entry .code-block blockquote:before, .post .entry .code-block blockquote:after, .post .entry .code-ignore q:before, .post .entry .code-ignore q:after, .post .entry .code-ignore blockquote:before, .post .entry .code-ignore blockquote:after { content: ""; content: none; }
.post .entry .code-block a img, .post .entry .code-ignore a img { border: none; }
.post .entry .code-block h1, .post .entry .code-block h2, .post .entry .code-block h3, .post .entry .code-block h4, .post .entry .code-block h5, .post .entry .code-block h6, .post .entry .code-ignore h1, .post .entry .code-ignore h2, .post .entry .code-ignore h3, .post .entry .code-ignore h4, .post .entry .code-ignore h5, .post .entry .code-ignore h6 { color: #333333; }
.post .entry .code-block h1, .post .entry .code-ignore h1 { font-size: 38.4px; }
.post .entry .code-block h2, .post .entry .code-ignore h2 { font-size: 25.6px; line-height: 26px; text-transform: none; }
.post .entry .code-block h3, .post .entry .code-ignore h3 { font-size: 19.2px; }
.post .entry .code-block h4, .post .entry .code-ignore h4 { font-size: 16px; }
.post .entry .code-block p:first-child:first-letter, .post .entry .code-ignore p:first-child:first-letter { font-size: 16px; margin: 0px; float: inherit; padding: 0px; text-transform: inherit; color: inherit; }
.post .entry blockquote p:first-child:first-letter { text-transform: none; padding-right: 0px; font-size: inherit; float: inherit; margin-top: inherit; margin-right: inherit; }
.post ul { margin-left: 45px; }
.post .tag-heading { text-transform: uppercase; color: #ececec; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: normal; font-weight: bold; float: left; padding-right: 5px; }

.post_excerpt h3 { color: inherit; }
.post_excerpt h3 a { color: #358ccb; }

.entry-meta { font-size: 14.4px; color: #b9b9b9; margin: 15px 0px; }

/********* COMMENTS ************/
#comment-area { padding: 20px; }
#comment-area .comment-head { text-align: right; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: normal; text-transform: uppercase; color: #ececec; font-size: 19.2px; margin-bottom: -18px; }
#comment-area .logged-in { text-transform: uppercase; color: #ececec; margin-top: 30px; font-size: 12.8px; }
#comment-area .logged-in a { color: #afd1ea; }
#comment-area ul.commentlist { margin-left: 0px; list-style: none; }
#comment-area ul.commentlist li { padding: 15px 0px; margin: 10px 0px; }

.comment-meta { background: #eee; padding: 8px; text-transform: uppercase; color: #358ccb; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: normal; vertical-align: top; }
.comment-meta img { float: left; margin-right: 8px; }
.comment-meta .comment-date { color: #ececec; font-size: 12.8px; margin-top: -6px; line-height: 19px; }
.comment-meta .comment-author { top: -2px; position: relative; }

.comment-text { padding-left: 55px; margin-top: 15px; font-size: 14.4px; }

.related-bar { padding: 20px; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 700; text-transform: uppercase; }
.related-bar img { width: 100%; max-height: 90px; border: 4px solid white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.gallery-item .wp-caption-text { display: none; }

#tm_month, #tm_day { display: none; }

.page404 h1 { font-size: 172px!important; text-align: center!important; height: 160px; margin-top: 57px; }

.centered { text-align: center; }
.centered img { margin: 0 auto; }

:not(pre) > code[class*="language-"] { color: #905; }

/* EXAMPLES IN POSTS */
.supaswag { background: green; color: white; }

/********* RESPONSIVE **********/
/*********** IE ************/
.ie .ie-warning { overflow: hidden; display: block; }
.ie.ie6 { display: none; }
.ie.ie6 .ie6-warning { display: block; }
