/******** SWAG ************/
/******** FONTS ************/
/******** VARIABLES ************/
/******** NAVIGATION ************/
#the_very_top { margin-top: 15px; }

.primary-menu { position: relative; top: -28px; }

.left-nav .primary-left { position: fixed; left: 0px; width: inherit; top: 60px; padding: 18px; -webkit-border-radius: 0px 4px 4px 0px; -moz-border-radius: 0px 4px 4px 0px; -ms-border-radius: 0px 4px 4px 0px; -o-border-radius: 0px 4px 4px 0px; border-radius: 0px 4px 4px 0px; }
.left-nav .primary-left ul { -webkit-box-shadow: 1px 1px 4px 0px #b9b9b9; -moz-box-shadow: 1px 1px 4px 0px #b9b9b9; box-shadow: 1px 1px 4px 0px #b9b9b9; background-color: white; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%); background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%); background-image: -o-linear-gradient(top, #ffffff 0%, #ffffff 100%); background-image: linear-gradient(top, #ffffff 0%, #ffffff 100%); margin-left: 0px; list-style: none; padding: 20px 0px; }
.left-nav .primary-left ul li a { color: #358ccb; padding: 0px 10px; text-shadow: 0px 0px; font-size: 19.2px; display: block; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; font-weight: 300; }
.left-nav .primary-left ul li a:hover { color: #b9b9b9; }
.left-nav .primary-left ul li:first-child a { padding: 6px 10px; border-bottom: 1px solid #ececec; margin-bottom: 20px; margin-top: -15px; font-weight: 400; color: #b9b9b9; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; font-size: 16px; }
.left-nav .primary-left ul li:first-child a:hover { color: #358ccb; }
.left-nav .primary-left ul li:first-child.current-menu-item a, .left-nav .primary-left ul li:first-child.current-post-ancestor a, .left-nav .primary-left ul li:first-child.current-menu-parent a, .left-nav .primary-left ul li:first-child.current-post-parent a { color: #e29532; }
.left-nav .primary-left ul li.current-menu-item a, .left-nav .primary-left ul li.current-post-ancestor a, .left-nav .primary-left ul li.current-menu-parent a, .left-nav .primary-left ul li.current-post-parent a { color: #e29532; }
.left-nav .primary-left ul ul.sub-menu { margin: 12px 0px; padding: 0px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.left-nav .primary-left ul ul.sub-menu li { width: 100%; }
.left-nav .primary-left ul ul.sub-menu li a { background-color: white; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%); background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%); background-image: -o-linear-gradient(top, #ffffff 0%, #ffffff 100%); background-image: linear-gradient(top, #ffffff 0%, #ffffff 100%); font-size: 16px; display: block; padding: 10px; color: #494949; text-shadow: rgba(250, 250, 250, 0.4) 0px 1px 0px; text-transform: none; font-weight: 400; }
.left-nav .primary-left ul ul.sub-menu li a:hover { color: inherit; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; -webkit-box-shadow: 3px 5px 14px 0px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: 3px 5px 14px 0px rgba(0, 0, 0, 0.1) inset; box-shadow: 3px 5px 14px 0px rgba(0, 0, 0, 0.1) inset; }
.left-nav .primary-left ul ul.sub-menu li a:active { -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.2) inset; -moz-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.2) inset; box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.2) inset; }
.left-nav .primary-left ul ul.sub-menu li:first-child a { padding: 10px; border-bottom: 0px; margin: inherit; }
.left-nav .primary-left ul ul.sub-menu li.current-menu-item a, .left-nav .primary-left ul ul.sub-menu li.current-post-ancestor a, .left-nav .primary-left ul ul.sub-menu li.current-menu-parent a, .left-nav .primary-left ul ul.sub-menu li.current-post-parent a { color: inherit; border-left: 8px solid #358ccb; }
.left-nav .primary-left ul ul.sub-menu li.current-menu-item ul li a, .left-nav .primary-left ul ul.sub-menu li.current-post-ancestor ul li a, .left-nav .primary-left ul ul.sub-menu li.current-menu-parent ul li a, .left-nav .primary-left ul ul.sub-menu li.current-post-parent ul li a { background: #494949; }
.left-nav .primary-left ul ul.sub-menu li .sub-menu { padding: 0px; margin-bottom: 5px; }
.left-nav .primary-left ul ul.sub-menu li .sub-menu li { width: inherit; border-bottom: 1px solid #b9b9b9; }
.left-nav .primary-left ul ul.sub-menu li .sub-menu li a { background-color: white; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFECECEC'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ececec)); background-image: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%); background-image: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%); background-image: -o-linear-gradient(top, #ffffff 0%, #ececec 100%); background-image: linear-gradient(top, #ffffff 0%, #ececec 100%); color: #a0a0a0; text-shadow: rgba(250, 250, 250, 0.1) 0px 1px 0px; padding-left: 20px; }
.left-nav .primary-left ul ul.sub-menu li .sub-menu li:last-child { border-bottom: 0px; }

.site_logo { width: auto; height: 105px; margin: 0 auto; }

.form-search { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; }

.nav-pills > li > a { padding: 6px; }

.global-links { margin-left: 0px; list-style: none; }
.global-links li { float: left; padding: 7px 0px; font-size: 14.4px; font-weight: 300; letter-spacing: 2px; }
.global-links li:first-child { padding-left: 0px; }
.global-links li:after { content: '/'; padding: 0px 8px; color: #B3D5FF; }
.global-links li:last-child:after { content: ''; padding: 0px; }
.global-links li a { color: #9C9C9C; }
.global-links li a:hover { color: #358ccb; }

/******** GLOBAL ************/
/********* GENERAL ***********/
h1, h2, h3, h4, h5, h6, h7, h8 { font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: normal; color: #358ccb; font-weight: normal; text-shadow: #fafafa 0px 1px 0px; }

h2 { color: #409fb1; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 700; text-transform: uppercase; font-weight: 300; font-size: 25.6px; line-height: 26px; margin: 20px 0px; }

h3 { color: #e29532; }

h4 { color: #153852; }

a h1, a h2, a h3, a h4, a h5, a h6 { -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
a h1:hover, a h2:hover, a h3:hover, a h4:hover, a h5:hover, a h6:hover { color: #358ccb; }

body { font-size: 16px; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: normal; background-color: #f2f2f2; margin: 75px auto; }

div.clear { clear: both; }

a { color: #358ccb; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; text-decoration: none!important; }
a:hover { color: #afd1ea; }
a:hover { text-decoration: none; }

.alignleft { float: left; margin-right: 15px; }

.alignright { float: right; margin-left: 15px; }

.aligncenter { margin: 0 auto; }

.copyright { text-align: right; color: #b9b9b9; font-size: 14.4px; margin-top: 15px; }

.row-fluid { text-shadow: rgba(250, 250, 250, 0.49609) 0px 1px 0px; }

.footer { padding: 20px; margin: 37.5px 0px; }
.footer h2 { color: #358ccb; text-transform: lowercase; }
.footer .link-list { margin-left: 0px; list-style: none; }
.footer .link-list li { width: 18%; margin-right: 2%; float: left; text-align: center; }
.footer .link-list li a { color: #358ccb; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 700; text-transform: uppercase; font-size: 16px; border-bottom: 4px solid #b9b9b9; text-align: center; }
.footer .link-list li a:hover { color: #ececec; }
.footer .link-list li ul.sub-menu { margin-left: 0px; list-style: none; margin-top: 15px; }
.footer .link-list li ul.sub-menu li { width: 100%; text-align: left; }
.footer .link-list li ul.sub-menu li a { color: #358ccb; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; color: #ececec; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 700; text-transform: uppercase; border-bottom: 0px; }
.footer .link-list li ul.sub-menu li a:hover { color: #afd1ea; }
.footer .link-list ul { margin-left: 0px; list-style: none; }
.footer .link-list ul li { width: auto; }

table { width: 100%; }
table tr { padding: 5px 0px; }
table tr:nth-child(even) { background: white; color: #cdcdcd; }
table tr td { padding: 5px; }

hr { border-color: #b9b9b9; border-bottom: 0px; }

/******** ALERTS AND WARNINGS ********/
.notice { display: none; font-size: 14.4px; }

.alert { background: #B64040; padding: 6px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 1px 2px 2px 1px #5a2a2a; -moz-box-shadow: 1px 2px 2px 1px #5a2a2a; box-shadow: 1px 2px 2px 1px #5a2a2a; }
.alert strong { color: #000; }
.alert a { color: white; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.alert a:hover { color: #afd1ea; }
.alert .close { color: white; text-shadow: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; top: -4px; position: relative; }
.alert.alert-error { background: #B64040; }

.warning .alert { background: #F1E234!important; }
.warning .alert a { color: #358ccb; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.warning .alert a:hover { color: #afd1ea; }

#SearchInput { background: #ececec; color: white; -webkit-border-radius: 12px; -moz-border-radius: 12px; -ms-border-radius: 12px; -o-border-radius: 12px; border-radius: 12px; width: 110px; background: #ececec url("images/search.png") right center no-repeat; padding-right: 4px; }
#SearchInput input::-webkit-input-placeholder { color: white; }
#SearchInput input:-moz-placeholder { color: white; }
#SearchInput:hover { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.meta { height: auto; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: normal; font-size: 14.4px; padding-bottom: 10px; border-bottom: 1px solid white; margin-bottom: 10px !important; color: #ececec; }
.meta .date { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; float: right; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 400; }

.no-left-margin { margin-left: 0px; top: 15px; position: relative; }

/******** HOME ************/
.mast { color: #7eb6de; text-transform: uppercase; letter-spacing: 18px; font-weight: 300; margin: 0px; }

.tagline { color: #b9b9b9; text-transform: none; font-weight: 300; margin-bottom: 60px; }

/******** ARCHIVE ************/
.archive { padding: 20px; /*.span6:first-child {
	@include box-sizing(border-box);
	border-right:1px solid $lightest_gray;
} */ }
.archive h1 span { color: #afd1ea; font-size: 19.2px; margin-bottom: -10px; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; }
.archive h1 span a { color: #afd1ea; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.archive h1 span a:hover { color: #358ccb; }
.archive .span6 { border-right: 1px solid white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-right: 10px; }
.archive .span6:last-child { border-right: 0px; }
.archive .span4 { padding-right: 10px; }
.archive .archive_hero { margin-bottom: 15px; }
.archive .archive_hero .span3 { margin-left: 1.264103%; }
.archive .archive_hero .span3:first-child { margin-left: 0px; }
.archive .archive_hero img { width: 100%; height: auto; }
.archive .archive_hero h2 { color: #358ccb; text-transform: uppercase; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 700; text-transform: uppercase; line-height: 26px; margin: 4px 0px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.archive .archive_hero h2:hover { color: #ececec; }
.archive .archive_hero .excerpt { margin-top: 25px; font-size: 12.8px; }
.archive .archive_hero .aux-items { margin-top: 30px; font-size: 12.8px; }
.archive .archive_hero .aux-items h3 { color: #358ccb; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.archive .archive_hero .aux-items h3:hover { color: #ececec; }
.archive .pagetitle { text-transform: uppercase; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 700; text-transform: uppercase; margin-bottom: 25px; }
.archive .post-excerpt { padding: 10px 0px; border-bottom: 1px solid white; min-height: 90px; }
.archive .post-excerpt:last-child { border-bottom: 0px; }
.archive .post-excerpt .post-description { font-size: 12.8px; }
.archive .post-excerpt h3 { color: #358ccb; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; font-weight: 600; line-height: 20px; min-height: 55px; vertical-align: middle; }
.archive .post-excerpt h3:hover { color: #afd1ea; }
.archive .post-excerpt h3:hover { color: #ececec; }
.archive .post-excerpt img { float: left; margin-right: 15px; margin-bottom: 15px; width: 55px; height: 55px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 2px solid white; }

.page-navigation { text-align: center; margin: 15px 0px; margin-top: 45px; }
.page-navigation .wp-pagenavi { font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: normal; padding: 20px; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; }
.page-navigation .wp-pagenavi a, .page-navigation .wp-pagenavi span { padding: 0px 5px; }

.published-today h2 { margin-top: -10px; }
.published-today .print-teaser { margin: 0 auto; border: 4px solid white; margin-bottom: 15px; }

.archive-col-rows { margin-top: 45px; }

.date_archive_feat { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 3px solid white; }

.archive-feat-overlay { font-size: 14.4px; padding: 20px 0px; margin-bottom: 15px; border-bottom: 1px solid white; padding-top: 10px; }
.archive-feat-overlay h2 { color: #358ccb; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.archive-feat-overlay h2:hover { color: #ececec; }

.date-archive .center-col { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-right: 1px solid white; padding: 0px 20px; border-left: 1px solid white; }
.date-archive .center-col h2 { text-transform: uppercase; font-size: 24px; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 700; text-transform: uppercase; }
.date-archive .span3 a, .date-archive .span2 a { display: block; margin: 15px 0px; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 400; font-size: 14.4px; }

/******** SINGLE ************/
#article-page { padding: 15px 0px; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 400; }

.category, .tag_list { font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: normal; text-transform: uppercase; font-size: 12.8px; font-weight: 700; }
.category span, .tag_list span { background: #559ed3; padding: 2px 6px; color: white; margin: 0px 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.category span a, .tag_list span a { color: white; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.category span a:hover, .tag_list span a:hover { color: #153852; }

.category a { color: #afd1ea; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.category a:hover { color: #358ccb; }

.meta { margin-bottom: 25px; }

.post-content { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-left: 1px solid white; }

.post { padding: 20px; padding-top: 0px; }
.post h1 { margin: 0px; margin-bottom: 46px; font-weight: 300; color: #358ccb; }
.post #meta { margin-left: 0px; list-style: none; font-size: 12.8px; color: #ececec; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: normal; margin-bottom: 15px; }
.post #meta li { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; }
.post #meta li:after { content: '\7C'; padding: 0px 2px; }
.post #meta li:last-child:after { content: ''; }
.post .entry { font-size: 16px; }
.post .entry p { font-size: 16px; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 400; line-height: 23px; -webkit-margin-before: 0px; -webkit-margin-after: 0px; margin: 22px 0px; }
.post .entry p:first-child:first-letter { text-transform: uppercase; padding-right: 2px; font-size: 38.4px; float: left; margin-top: 9px; margin-right: 5px; color: #b9b9b9; }
.post .entry p.final-byline { font-style: italic; }
.post .entry .wp-caption { -webkit-box-shadow: 0px 1px 2px 0px #777777; -moz-box-shadow: 0px 1px 2px 0px #777777; box-shadow: 0px 1px 2px 0px #777777; padding: 5px; background: #ffffff; border: 1px solid #dfdfdf; }
.post .entry .wp-caption img { margin: 6px; border: 2px solid #dfdfdf; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.post .entry .wp-caption p { margin: 0px; font-style: italic; text-align: center; }
.post .entry blockquote p:first-child:first-letter { text-transform: none; padding-right: 0px; font-size: inherit; float: inherit; margin-top: inherit; margin-right: inherit; }
.post ul { margin-left: 45px; }
.post .tag-heading { text-transform: uppercase; color: #ececec; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: normal; font-weight: bold; float: left; padding-right: 5px; }

.for-more, .possum { padding: 0px 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; max-width: 320px; width: auto; background: #f8f8f8; -webkit-box-shadow: 2px 2px 1px 0px #cccccc inset; -moz-box-shadow: 2px 2px 1px 0px #cccccc inset; box-shadow: 2px 2px 1px 0px #cccccc inset; float: left; min-width: 220px; text-align: right; position: absolute; right: 30px; }
.for-more h2, .possum h2 { background: url("asterisk.png") no-repeat left center; background-size: 32px; color: #e29532; text-transform: none; font-size: 25.6px; line-height: 26px; padding: 10px 0px; padding-left: 30px; margin: 0px; }
.for-more ul, .possum ul { margin-left: 0px; list-style: none; margin-left: 30px; padding-bottom: 8px; }
.for-more ul li, .possum ul li { margin: 6px 0px; }

.post_excerpt h3 { color: inherit; }
.post_excerpt h3 a { color: #358ccb; }

.entry-meta { font-size: 14.4px; color: #b9b9b9; margin: 15px 0px; }

/********* COMMENTS ************/
#comment-area { padding: 20px; }
#comment-area .comment-head { text-align: right; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: normal; text-transform: uppercase; color: #ececec; font-size: 19.2px; margin-bottom: -18px; }
#comment-area .logged-in { text-transform: uppercase; color: #ececec; margin-top: 30px; font-size: 12.8px; }
#comment-area .logged-in a { color: #afd1ea; }
#comment-area ul.commentlist { margin-left: 0px; list-style: none; }
#comment-area ul.commentlist li { padding: 15px 0px; margin: 10px 0px; }

.comment-meta { background: #eee; padding: 8px; text-transform: uppercase; color: #358ccb; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: normal; vertical-align: top; }
.comment-meta img { float: left; margin-right: 8px; }
.comment-meta .comment-date { color: #ececec; font-size: 12.8px; margin-top: -6px; line-height: 19px; }
.comment-meta .comment-author { top: -2px; position: relative; }

.comment-text { padding-left: 55px; margin-top: 15px; font-size: 14.4px; }

.gallery-item .wp-caption-text { display: none; }

.page404 h1 { font-size: 172px!important; text-align: center!important; height: 160px; margin-top: 57px; }

.centered { text-align: center; }
.centered img { margin: 0 auto; }

/* EXAMPLES IN POSTS */
.supaswag { background: green; color: white; }

/*** REESES ****/
@font-face { font-family: 'wild_rideregular'; src: url("fonts/wildride-webfont.eot"); src: url("fonts/wildride-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/wildride-webfont.woff") format("woff"), url("fonts/wildride-webfont.ttf") format("truetype"), url("fonts/wildride-webfont.svg#wild_rideregular") format("svg"); font-weight: normal; font-style: normal; }

.reeses-example .reeses-bg { background: #FF4000; width: 100%; height: 250px; text-shadow: none!important; }
.reeses-example h4 { color: #5D0A0B; font-family: Helvetica, Arial, sans-serif; font-weight: bold; text-transform: uppercase; font-style: italic; text-align: center; font-size: 13.4px; position: relative; top: 84px; left: 40px; text-shadow: none; }
.reeses-example h1 { font-size: 185px; text-align: center; color: #E9F402; font-family: 'wild_rideregular', Helvetica, script; top: 80px; letter-spacing: -1px; margin: 0px; font-weight: lighter; position: relative; z-index: 0; text-shadow: none; }
.reeses-example h1:after { content: 'Reese\'s'; color: #5D0A0B; position: absolute; right: 251px; top: 2px; z-index: -1; letter-spacing: -1px; }
.reeses-example .butter-cups { color: #E9F402; }
.reeses-example .spec { width: 80px; float: right; font-family: Helvetica, Arial, sans-serif; font-weight: lighter; text-align: center; font-size: 13px; margin-top: 120px; margin-right: 5px; }

.label, .badge { font-size: 14px; }

/******** CODE STYLING *********/
/** prism.js default theme for JavaScript, CSS and HTML Based on dabblet (http://dabblet.com) @author Lea Verou */
code[class*="language-"], pre[class*="language-"] { color: black; text-shadow: 0 1px white; font-family: Consolas, Monaco, 'Andale Mono', monospace; direction: ltr; text-align: left; white-space: pre; word-spacing: normal; -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; }

/* Code blocks */
pre[class*="language-"] { padding: 1em; margin: .5em 0; -webkit-box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf; -moz-box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf; box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf; border-left: 10px solid #358ccb; }

:not(pre) > code[class*="language-"], pre[class*="language-"] { background: #fdfdfd; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom: 20px; }

.full-code :not(pre) > code[class*="language-"], .full-code pre[class*="language-"] { position: relative; }
.full-code :not(pre) > code[class*="language-"]:before, .full-code :not(pre) > code[class*="language-"]:after, .full-code pre[class*="language-"]:before, .full-code pre[class*="language-"]:after { content: ''; z-index: -2; position: absolute; bottom: 12px; left: 5px; width: 40%; height: 20%; -webkit-box-shadow: 0px 17px 8px #979797; -moz-box-shadow: 0px 17px 8px #979797; box-shadow: 0px 17px 8px #979797; -webkit-transform: rotate(-2deg); -moz-transform: rotate(-2deg); -ms-transform: rotate(-2deg); -o-transform: rotate(-2deg); transform: rotate(-2deg); }
.full-code :not(pre) > code[class*="language-"]:after, .full-code pre[class*="language-"]:after { right: 10px; left: auto; -webkit-transform: rotate(2deg); -moz-transform: rotate(2deg); -ms-transform: rotate(2deg); -o-transform: rotate(2deg); transform: rotate(2deg); visibility: visible!important; height: 20%!important; }

/* Inline code */
:not(pre) > code[class*="language-"] { padding: .2em; -webkit-border-radius: 0.3em; -moz-border-radius: 0.3em; -ms-border-radius: 0.3em; -o-border-radius: 0.3em; border-radius: 0.3em; color: #c92c2c; border: 1px solid rgba(0, 0, 0, 0.1); }

.token.comment, .token.prolog, .token.doctype, .token.cdata { color: #7D8B99; }
.token.punctuation { color: #999; }
.token.property, .token.tag, .token.boolean, .token.number { color: #c92c2c; }
.token.selector, .token.attr-name, .token.string { color: #2f9c0a; }
.token.operator, .token.entity, .token.url { color: #a67f59; background: rgba(255, 255, 255, 0.5); }
.token.atrule, .token.attr-value, .token.keyword { color: #1990b8; }
.token.regex, .token.important { color: #e90; }
.token.important { font-weight: bold; }
.token.entity { cursor: help; }
.token.tab:not(:empty):before, .token.cr:before, .token.lf:before { color: #e0d7d1; }
.token.tab:not(:empty):before { content: '▸'; }
.token.cr:before { content: '␍'; }
.token.lf:before { content: '␊'; }
.token a { color: inherit; }

.language-css .token.string, .style .token.string { color: #a67f59; background: rgba(255, 255, 255, 0.5); }

.namespace { opacity: .7; }

pre[data-line] { position: relative; padding: 1em 0 1em 3em; }

.line-highlight { position: absolute; left: 0; right: 0; padding: inherit 0; margin-top: 1em; /* Same as .prism’s padding-top */ background: rgba(153, 122, 102, 0.08); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9InJnYmEoMTUzLCAxMjIsIDEwMiwgMC4xKSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiYSgxNTMsIDEyMiwgMTAyLCAwKSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(70%, rgba(153, 122, 102, 0.1)), color-stop(100%, rgba(153, 122, 102, 0))); background-image: -webkit-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0)); background-image: -moz-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0)); background-image: -o-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0)); background-image: linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0)); pointer-events: none; line-height: inherit; white-space: pre; }
.line-highlight:before, .line-highlight[data-end]:after { content: attr(data-start); position: absolute; top: .4em; left: .6em; min-width: 1em; padding: 0 .5em; background-color: rgba(153, 122, 102, 0.4); color: #f5f2f0; font: bold 65%/1.5 sans-serif; text-align: center; vertical-align: .3em; border-radius: 999px; text-shadow: none; -webkit-box-shadow: 0 1px white; -moz-box-shadow: 0 1px white; box-shadow: 0 1px white; }
.line-highlight[data-end]:after { content: attr(data-end); top: auto; bottom: .4em; }

.example-row { -webkit-box-shadow: 1px 2px 9px -2px #7a7a7a inset; -moz-box-shadow: 1px 2px 9px -2px #7a7a7a inset; box-shadow: 1px 2px 9px -2px #7a7a7a inset; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; padding: 10px; margin: 40px 0px; }
.example-row pre[class*="language-"] { margin: 0px; }
.example-row .code-block, .example-row .code-ignore { font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-weight: 400; text-shadow: none; }
.example-row .code-block div, .example-row .code-block span, .example-row .code-block applet, .example-row .code-block object, .example-row .code-block iframe, .example-row .code-block h1, .example-row .code-block h2, .example-row .code-block h3, .example-row .code-block h4, .example-row .code-block h5, .example-row .code-block h6, .example-row .code-block p, .example-row .code-block blockquote, .example-row .code-block pre, .example-row .code-block a, .example-row .code-block abbr, .example-row .code-block acronym, .example-row .code-block address, .example-row .code-block big, .example-row .code-block cite, .example-row .code-block code, .example-row .code-block del, .example-row .code-block dfn, .example-row .code-block em, .example-row .code-block img, .example-row .code-block ins, .example-row .code-block kbd, .example-row .code-block q, .example-row .code-block s, .example-row .code-block samp, .example-row .code-block small, .example-row .code-block strike, .example-row .code-block strong, .example-row .code-block sub, .example-row .code-block sup, .example-row .code-block tt, .example-row .code-block var, .example-row .code-block b, .example-row .code-block u, .example-row .code-block i, .example-row .code-block center, .example-row .code-block dl, .example-row .code-block dt, .example-row .code-block dd, .example-row .code-block ol, .example-row .code-block ul, .example-row .code-block li, .example-row .code-block fieldset, .example-row .code-block form, .example-row .code-block label, .example-row .code-block legend, .example-row .code-block table, .example-row .code-block caption, .example-row .code-block tbody, .example-row .code-block tfoot, .example-row .code-block thead, .example-row .code-block tr, .example-row .code-block th, .example-row .code-block td, .example-row .code-block article, .example-row .code-block aside, .example-row .code-block canvas, .example-row .code-block details, .example-row .code-block embed, .example-row .code-block figure, .example-row .code-block figcaption, .example-row .code-block footer, .example-row .code-block header, .example-row .code-block hgroup, .example-row .code-block menu, .example-row .code-block nav, .example-row .code-block output, .example-row .code-block ruby, .example-row .code-block section, .example-row .code-block summary, .example-row .code-block time, .example-row .code-block mark, .example-row .code-block audio, .example-row .code-block video, .example-row .code-ignore div, .example-row .code-ignore span, .example-row .code-ignore applet, .example-row .code-ignore object, .example-row .code-ignore iframe, .example-row .code-ignore h1, .example-row .code-ignore h2, .example-row .code-ignore h3, .example-row .code-ignore h4, .example-row .code-ignore h5, .example-row .code-ignore h6, .example-row .code-ignore p, .example-row .code-ignore blockquote, .example-row .code-ignore pre, .example-row .code-ignore a, .example-row .code-ignore abbr, .example-row .code-ignore acronym, .example-row .code-ignore address, .example-row .code-ignore big, .example-row .code-ignore cite, .example-row .code-ignore code, .example-row .code-ignore del, .example-row .code-ignore dfn, .example-row .code-ignore em, .example-row .code-ignore img, .example-row .code-ignore ins, .example-row .code-ignore kbd, .example-row .code-ignore q, .example-row .code-ignore s, .example-row .code-ignore samp, .example-row .code-ignore small, .example-row .code-ignore strike, .example-row .code-ignore strong, .example-row .code-ignore sub, .example-row .code-ignore sup, .example-row .code-ignore tt, .example-row .code-ignore var, .example-row .code-ignore b, .example-row .code-ignore u, .example-row .code-ignore i, .example-row .code-ignore center, .example-row .code-ignore dl, .example-row .code-ignore dt, .example-row .code-ignore dd, .example-row .code-ignore ol, .example-row .code-ignore ul, .example-row .code-ignore li, .example-row .code-ignore fieldset, .example-row .code-ignore form, .example-row .code-ignore label, .example-row .code-ignore legend, .example-row .code-ignore table, .example-row .code-ignore caption, .example-row .code-ignore tbody, .example-row .code-ignore tfoot, .example-row .code-ignore thead, .example-row .code-ignore tr, .example-row .code-ignore th, .example-row .code-ignore td, .example-row .code-ignore article, .example-row .code-ignore aside, .example-row .code-ignore canvas, .example-row .code-ignore details, .example-row .code-ignore embed, .example-row .code-ignore figure, .example-row .code-ignore figcaption, .example-row .code-ignore footer, .example-row .code-ignore header, .example-row .code-ignore hgroup, .example-row .code-ignore menu, .example-row .code-ignore nav, .example-row .code-ignore output, .example-row .code-ignore ruby, .example-row .code-ignore section, .example-row .code-ignore summary, .example-row .code-ignore time, .example-row .code-ignore mark, .example-row .code-ignore audio, .example-row .code-ignore video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }
.example-row .code-block table, .example-row .code-ignore table { border-collapse: collapse; border-spacing: 0; }
.example-row .code-block caption, .example-row .code-block th, .example-row .code-block td, .example-row .code-ignore caption, .example-row .code-ignore th, .example-row .code-ignore td { text-align: left; font-weight: normal; vertical-align: middle; }
.example-row .code-block q, .example-row .code-block blockquote, .example-row .code-ignore q, .example-row .code-ignore blockquote { quotes: none; }
.example-row .code-block q:before, .example-row .code-block q:after, .example-row .code-block blockquote:before, .example-row .code-block blockquote:after, .example-row .code-ignore q:before, .example-row .code-ignore q:after, .example-row .code-ignore blockquote:before, .example-row .code-ignore blockquote:after { content: ""; content: none; }
.example-row .code-block a img, .example-row .code-ignore a img { border: none; }
.example-row .code-block strong, .example-row .code-ignore strong { font-weight: bold; }
.example-row .code-block em, .example-row .code-ignore em { font-style: italic; }
.example-row .code-block h1, .example-row .code-block h2, .example-row .code-block h3, .example-row .code-block h4, .example-row .code-block h5, .example-row .code-block h6, .example-row .code-ignore h1, .example-row .code-ignore h2, .example-row .code-ignore h3, .example-row .code-ignore h4, .example-row .code-ignore h5, .example-row .code-ignore h6 { color: #333333; }
.example-row .code-block h1, .example-row .code-ignore h1 { font-size: 38.4px; }
.example-row .code-block h2, .example-row .code-ignore h2 { font-size: 25.6px; line-height: 26px; text-transform: none; }
.example-row .code-block h3, .example-row .code-ignore h3 { font-size: 19.2px; }
.example-row .code-block h4, .example-row .code-ignore h4 { font-size: 16px; }
.example-row .code-block p:first-child:first-letter, .example-row .code-ignore p:first-child:first-letter { font-size: 16px; margin: 0px; float: inherit; padding: 0px; text-transform: inherit; color: inherit; }

/********* RESPONSIVE **********/
@media (max-width: 1024px) { .left-nav { width: 100%!important; }
  .left-nav .primary-left { position: inherit; width: auto; left: auto; }
  .span10 { width: 103.978723%!important; }
  .possum { min-width: 100px; } }
@media (max-width: 767px) { .span10 { width: 94%!important; }
  .possum { min-width: none; max-width: none; } }
/*********** IE ************/
.ie .ie-warning { overflow: hidden; display: block; }
.ie.ie6 { display: none; }
.ie.ie6 .ie6-warning { display: block; }
