/******** ARCHIVE ************/

.archive {
	h1 span {
		color:$light_blue;
		@include fs-lg;
		margin-bottom:-10px;
		@include inline-block;
		a {
			color:$light_blue;
			@include std-hover($blue);
		}
	}
	.span6 {
		border-right:1px solid $lightest_gray;
		@include box-sizing(border-box);
		padding-right:$std-padding/2;
		&:last-child {
			border-right:0px;
		}
	}
	.span4 {
		padding-right:$std-padding/2;
	}
	.archive_hero {
		margin-bottom:$std-margin;
		.span3 {
			margin-left:1.264103%;
			&:first-child{
				margin-left:0px;
			}
		}
		img {
			@include auto-img;
		}
		h2 {
			color:$blue;
			text-transform:uppercase;
			@include cond;
			line-height:26px;
			margin:4px 0px;
			@include std-hover($gray);
		}
		.excerpt {
			margin-top:$lg-margin;
			@include fs-small;
		}
		.aux-items {
			margin-top:$std-margin*2;
			@include fs-small;
			h3 {
				color:$blue;
				@include std-hover($gray);
			}
		}
	}
	padding:$std-padding;
	/*.span6:first-child {
		@include box-sizing(border-box);
		border-right:1px solid $lightest_gray;
	} */
	.pagetitle {
		text-transform:uppercase;
		@include cond;
		margin-bottom:$lg-margin;
	}
	.post-excerpt {
		padding:$std-padding/2 0px;
		border-bottom:1px solid $lightest_gray;
		min-height:90px;
		&:last-child{
			border-bottom:0px;
		}
		.post-description {
			@include fs-small;
		}
		h3 {
			@include alt-hover;
			font-weight:600;
			line-height:20px;
			min-height:55px;
			vertical-align:middle;
			&:hover {
				color:$gray;
			}
		}
		img {
			float:left;
			margin-right:$std-margin;
			margin-bottom:$std-margin;
			width:55px;
			height:55px;
			@include box-sizing(border-box);
			border:2px solid $light_gray;
		}
	}
}
.page-navigation {
	text-align:center;
	margin:$std-margin 0px;
	margin-top:$std-margin*3;
	.wp-pagenavi{
		@include dom;
		padding:$std-padding;
		@include inline-block;
		a, span {
			padding:0px $std-padding/4;
		}
	}
}

//DAY ARCHIVE

.published-today {
	h2 {
		margin-top:-10px;
	}
	.print-teaser {
		margin:0 auto;
		border:4px solid $light_gray;
		margin-bottom:$std-margin;
	}
}

.archive-col-rows {
	margin-top:$std-margin * 3;
}
.date_archive_feat {
	@include box-sizing(border-box);
	border:3px solid $light_gray;
}
.archive-feat-overlay {
	h2 {
		color:$blue;
		@include std-hover($gray);
	}
	@include fs-medium;
	padding:$std-padding 0px;
	margin-bottom:$std-margin;
	border-bottom:1px solid $light_gray;
	padding-top:$std-padding/2;
}
.date-archive {
	.center-col {
		@include box-sizing(border-box);
		border-right:1px solid $light_gray;
		padding:0px $std-padding;
		border-left:1px solid $light_gray;
		h2 {
			text-transform:uppercase;
			font-size:24px;
			@include cond;
		}
	}
	.span3, .span2 {
		a {
			display:block;
			margin:$std-margin 0px;
			@include body;
			@include fs-medium;
		}
	}
}