/********* RESPONSIVE **********/

@media (min-width:1200px) {

}
@media (max-width: 1199px) and (min-width: 768px) {

}
@media (max-width:1024px){
	.left-nav {
		width:100%!important;
		.primary-left {
			position:inherit;
			width:auto;
			left:auto;
		}
	}
	.span10 {
		width:103.978723%!important;
	}
	.related {
		min-width:100px;
	}
}
@media (max-width:767px){
	.span10 {
		width:94%!important;
	}
	.related {
		min-width:none;
		max-width:none;
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

}