/******** GLOBAL ************/

/********* GENERAL ***********/

h1, h2, h3, h4, h5, h6, h7, h8 { 
	@include dom; 
	color: $blue; 
	font-weight:normal; 
	@include txt-shadow(1);
}
h2 {
	color:$teal;
	@include cond;
	font-weight:300;
	@include fs-xlg;
	margin:20px 0px;
}
h3 {
	color:$orange;
}
h4 {
	color:$dark_blue;
}
a h1, a h2, a h3, a h4, a h5, a h6 {
	@include std-hover($blue);
}
body { 
	@include fs;
	@include sub;
	background-color:#f2f2f2;
	margin:75px auto;
}
div.clear { 
	clear:both; 
}
a {
	color:$blue;
	@include std-hover($light_blue);
	&:hover {
		text-decoration:none;
	}
	text-decoration:none!important;
}

.alignleft {
	float:left;
	margin-right:$std-margin;
}
.alignright {
	float:right;
	margin-left:$std-margin;
}
.aligncenter {
	margin:0 auto;
}
.copyright {
	text-align:right; 
	color:$dark_gray; 
	@include fs-medium;
	margin-top:$std-margin;
}
.row-fluid {
	@include txt-shadow;
}
.footer {
	padding:$std-padding;
	margin:$lg-margin*1.5 0px;
	h2 {
		color:$blue;
		text-transform:lowercase;
	}
	.link-list {
		@include no-list;
		li {
			width:18%;
			margin-right:2%;
			float:left;
			text-align:center;
			a {
				color:$blue;
				@include std-hover($gray);
				@include cond;
				@include fs;
				border-bottom:4px solid $dark_gray;
				text-align:center;
			}
			ul.sub-menu {
				@include no-list;
				margin-top:$std-margin;
				li {
					width:100%;
					text-align:left;
					a {
						@include alt-hover;
						color:$gray;
						@include cond;
						border-bottom:0px;
					}
				}
			}
		}
		ul {
			@include no-list;
			li {
				width:auto;
			}
		}
	}
}
table {
	width:100%;
	tr {
		padding:$std-padding/4 0px;
		&:nth-child(even){
			background:lighten($lightest_gray,2%);
			color:lighten($dark_gray,8%);
		}
		td {
			padding:$std-padding/4;
		}
	}
}
hr {
	border-color:$dark_gray;
	border-bottom:0px;
}

/******** ALERTS AND WARNINGS ********/

.notice {
	display:none;
	@include fs-medium;
}
.alert {
	background:#B64040;
	padding:6px;
	@include border-radius(4px);
	@include box-shadow(1px 2px 2px 1px #5a2a2a);
	strong {
		color:#000;
	}
	a {
		color:$lightest_gray;
		@include std-hover($light_blue)
	}
	.close {
		color:white;
		@include text-shadow(none);
		@include opacity(0.9);
		top:-4px;
		position:relative;
	}
	&.alert-error {
		background:#B64040;
	}
}
.warning {
	.alert {
		background:#F1E234!important;
		a {
			color:$blue;
			@include std-hover($light_blue)
		}
	}
}


#SearchInput {	
	input::-webkit-input-placeholder {
		color:$lightest_gray;
	}
	input:-moz-placeholder {
	    color:$lightest_gray;
	}
	background:$gray;
	color:white;
	@include border-radius(12px);
	width:110px;
	&:hover{
		@include box-shadow(none);
	}
	background:$gray url('images/search.png') right center no-repeat;
	padding-right:4px;
}
.meta {
	height:auto;
	@include dom;
	@include fs-medium;
	padding-bottom:$std-padding/2;
	border-bottom:1px solid $lightest_gray;
	margin-bottom:$std-padding/2 !important;
	color:$gray;
	.date {
		@include inline-block;
		float:right;
		@include body;
	}
}

.no-left-margin {
	margin-left:0px;
	top:$std-margin;
	position:relative;
}