/******** HOME ************/

.mast {
	color:lighten($blue,18%);
	text-transform:uppercase;
	letter-spacing:18px;
	font-weight:300;
	margin:80px 0px;
	margin-bottom:0px;
}
.tagline {
	color:$dark_gray;
	text-transform:none;
	font-weight:300;
	margin-bottom:60px;
}