/******** SINGLE ************/
#article-page {
	padding:$std-margin 0px;
	@include body;
}
.category, .tag_list { 
	@include dom;
	text-transform:uppercase; 
	@include fs-small;
	font-weight:700;
	span {
		background:lighten($blue, 8%);
		padding:2px 6px;
		color:white;
		margin:0px 4px;
		@include border-radius(4px);
		a {
			color:white;
			@include std-hover($dark_blue);
		}
	}
}
.category a {
	color:$light_blue;
	@include std-hover($blue);
}
.meta {
	margin-bottom:$lg-margin;
}
.post-content {
	@include box-sizing(border-box);
	border-left:1px solid $lightest_gray;
}
.post {	
	h1 {
		margin:0px;
		margin-bottom:46px;
		font-weight:300;
		color:$blue;
	}
	padding:20px;
	padding-top:0px;
	#meta { 
		@include no-list;
		@include fs-small; 
		color:$gray;
		@include sub;
		margin-bottom:$std-margin;
		li {
			@include inline-block;
			&:after {
				content:'\7C';
				padding:0px 2px;
			}
			&:last-child:after {
				content:'';
			}
		}
	}
	.entry {
		@include fs;
		p {
			@include fs;
			@include body; 
			line-height:23px; 
			-webkit-margin-before:0px;
			-webkit-margin-after:0px;
			margin:22px 0px;
			&:first-child {
				&:first-letter {
					text-transform:uppercase;
					padding-right:2px;
					@include fs-xxlg;
					float:left; 
					margin-top:9px; 
					margin-right:5px; 
					color:$dark_gray;
				}
			}
			&.final-byline {
				font-style:italic;
			}
		}
		.wp-caption {
			@include box-shadow(2px 2px 12px -4px #777 inset);
			padding:6px;
			background:#E6E6E6;
			img {
				padding:12px 6px;
			}
			p {
				margin:0px;
				font-style:italic;
				text-align:center;
			}
		}
		blockquote {
			p:first-child:first-letter{
				text-transform:none;
				padding-right:0px;
				font-size:inherit;
				float:inherit;
				margin-top:inherit;
				margin-right:inherit;
			}
		}
	}
	ul {
		margin-left:45px;
	}
	.tag-heading {
		text-transform:uppercase;
		color:$gray;
		@include dom;
		font-weight:bold;
		float:left;
		padding-right:5px;
	}
}
.for-more, .possum {
	padding:0px 10px;
	@include box-sizing(border-box);
	max-width:320px;
	width:auto;
	background:#f8f8f8;
	@include box-shadow(2px 2px 1px 0px #ccc inset);
	float:left;
	min-width:220px;
	text-align:right;
	position:absolute;
	right:30px;
	h2 {
		background:url('asterisk.png') no-repeat left center;
		background-size:32px;
		color:$orange;
		text-transform:none;
		@include fs-xlg;
		padding:10px 0px;
		padding-left:30px;
		margin:0px;
	}
	ul {
		@include no-list;
		margin-left:30px;
		padding-bottom:8px;
		li {
			margin:6px 0px;
		}
	}
}
.post_excerpt { 
	h3 { 
		color:inherit; 
		a { 
			color:$blue;
		}
	}
}
.entry-meta {
	@include fs-medium;
	color:$dark_gray;
	margin:15px 0px;
}

/********* COMMENTS ************/


#comment-area {
	padding:20px;
	.comment-head {
		text-align:right;
		@include dom;
		text-transform:uppercase;
		color:$gray;
		@include fs-lg;
		margin-bottom:-18px;
	}
	.logged-in {
		text-transform:uppercase;
		color:$gray;
		margin-top:30px;
		@include fs-small;
			a {
				color:$light_blue;
			}
	}
	ul.commentlist {
		@include no-list;
		li {
			padding:15px 0px;
			margin:10px 0px;
		}
	}
}
.comment-meta {
	img {
		float:left;
		margin-right:8px;
	}
	background:#eee;
	padding:8px;
	text-transform:uppercase;
	color:$blue;
	@include dom;
	vertical-align:top;
	.comment-date {
		color:$gray;
		@include fs-small;
		margin-top:-6px;
		line-height:19px;
	}
	.comment-author {
		top:-2px;
		position:relative;
	}
}
.comment-text {
	padding-left:55px;
	margin-top:15px;
	@include fs-medium;
}
.gallery-item {
	.wp-caption-text {
		display:none;
	}
}
.page404 h1 {
	font-size:172px!important;
	text-align:center!important;
	height:160px;
	margin-top:57px;
}

.centered {
	text-align:center;
	img {
		margin:0 auto;
	}
}

/* EXAMPLES IN POSTS */
.supaswag {
	background:green;
	color:white;
}

/*** REESES ****/

@font-face {
    font-family: 'wild_rideregular';
    src: url('fonts/wildride-webfont.eot');
    src: url('fonts/wildride-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/wildride-webfont.woff') format('woff'),
         url('fonts/wildride-webfont.ttf') format('truetype'),
         url('fonts/wildride-webfont.svg#wild_rideregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.reeses-example {
	.reeses-bg {
	background: #FF4000;
	width:100%;
	height:250px;
	text-shadow:none!important;

	}
h4 {
	color:#5D0A0B;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	font-style:italic;
	text-align:center;
	font-size:13.4px;
	position:relative;
	top:84px;
	left:40px;
	text-shadow:none;
}
h1 {
	font-size:185px;
	text-align:center;
	color:#E9F402;
	font-family:'wild_rideregular', Helvetica, script;
	top:80px;
	letter-spacing: -1px;
	margin:0px;
	font-weight:lighter;
	position:relative;
	z-index:0;
	text-shadow:none;
}
h1:after {
	content:'Reese\'s';
	color:#5D0A0B;
	position:absolute;
	right:251px;
	top:2px;
	z-index: -1;
	letter-spacing: -1px;
}
.butter-cups {
	color:#E9F402;
}
.spec {
	width:80px;
	float:right;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:lighter;
	text-align:center;
	font-size:13px;
	margin-top:120px;
	margin-right:5px;
}
}
.label, .badge {
	font-size:14px;
}